@import '../../assets/colors.scss';

.loader-search{
  width: 100%;
  height: 70vh;
  display: grid;
  place-items: center;
  animation-name: loader-fadein;
  animation-duration: 0.3s;
  animation-iteration-count: initial;
}

@keyframes loader-fadein{
  0%{
    visibility: hidden;
    opacity: 0;
  }
  100%{
    visibility: visible;
    opacity: 1;
  }
}