$font-color: #e6e6e6;
$font-color-2: #cccccc;
$font-color-3: #b3b3b3;
$font-color-4: #999999;
$font-color-5: #808080;

$red-full: #e30000;
$red-full-100: #ce0000;
$red-full-90: #ba0000;
$red-full-80: #a50000;
$red-full-70: #900000;
$red-full-60: #7c0000;
$red-full-50: #670000;
$red-full-40: #530000;
$red-full-30: #3e0000;
$red-full-20: #290000;
$red-full-10: #150000;

$red-50-full: #e300007f;
$red-50-100: #ce00008b;
$red-50-90: #ba000096;
$red-50-80: #a50000a2;
$red-50-70: #900000ad;
$red-50-60: #7c0000b9;
$red-50-50: #670000c5;
$red-50-40: #530000d0;
$red-50-30: #3e0000dc;
$red-50-20: #290000e7;
$red-50-10: #150000f3;


